site_name: Lean & Green Recipes
site_url: https://recipes.raney.co
copyright: Copyright &copy; 2023 Recipes.Raney.co
theme:
  name: 'material'
  palette:
    primary: Green
    accent: Green
features:
  - content.code.annotate
  - content.tabs.link
  # - header.autohide
  - navigation.expand
  - navigation.indexes
  # - navigation.instant
  # - navigation.sections
  - navigation.tabs
  # - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.integrate
markdown_extensions:
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
extra:
  generator: false
